/**
 * 01. Spacing
 * 02. Placeholder
 * 03. Global Forms
 * 04. Loop Block
 * 05. Positioning
 */


// 01. Spacing

@mixin spacing-layout( $property, $prefix: '' ) {
  $property_class: #{$property} !default;

  @if $prefix != '' {
    $property_class: #{$prefix}-#{$property};
  }

  @each $direction in $directions {
    .#{$property_class}-#{$direction} {
      #{$property}-#{$direction}: 2rem;
    }

    @each $type, $size in $spacing-sizes {
      .#{$property_class}-#{$direction}-#{$type} {
        #{$property}-#{$direction}: $size;
      }
    }
  }

  .#{$property_class}-all {
    #{$property}: 2rem;
  }

  .#{$property_class}-vertical {
    #{$property}-top: 2rem;
    #{$property}-bottom: 2rem;
  }

  .#{$property_class}-horizontal {
    #{$property}-left: 2rem;
    #{$property}-right: 2rem;
  }

  @each $type, $size in $spacing-sizes {
    .#{$property_class}-all-#{$type} {
      #{$property}: $size;
    }

    .#{$property_class}-vertical-#{$type} {
      #{$property}-top: $size;
      #{$property}-bottom: $size;
    }

    .#{$property_class}-horizontal-#{$type} {
      #{$property}-left: $size;
      #{$property}-right: $size;
    }
  }
}


// 02. Placeholder

@mixin placeholder-style() {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}


// 03. Global Forms

@mixin global-form-styles {
  background: white;
  border: 1px solid $medium-gray;
  box-shadow: none;
}

// 04. Loop Block
@mixin loop-block( $min-height: 280px ) {
  .content-container {
    padding: 1rem;
    min-height: #{$min-height};
    display: flex;

    // IE 10/11 - Adding some height for safety
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      height: #{$min-height + 30};
    }

    * {
      color: $white;
    }

    h4, h5 {
      margin-bottom: .25rem;
    }
  }
}

// 05. Positioning
@mixin position($top, $right: $top, $bottom: $top, $left: $right) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
